@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.logo {
    width: 20%;
}

.header-bar {
    display: flex;
    align-items: center;
}

.brand {
    font-size: 8vw;
    font-family: 'Shrikhand', cursive;
    color: #6C6CA8;
    padding-left: 1rem;
}