img {
display: inline-block;
width: 50%;
}

.size {
width: 85vh;
background-color: #6C6EA9;
}

.display {
display: flex;
justify-content: center;
background-image:   
linear-gradient(
    to bottom,
    #E1EEFF,
    #96D7FF,
    #CAC1F6
  );
}

.carousel-text {
position: absolute;
top: 10%;
right: 5%;
width: 40%;
font-size: 1rem;
color: white ;
}

p {
font-style: italic;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #97D8FE ;
  border-radius: 0.5rem;
}

.carousel-indicators button {
    background-color: #6C6EA9 !important;
}